.navegacion {
    background-color: white;
    width: 100vw;
    height: 100px;
    position: fixed;
    z-index: 1;

    .navegacion__icono {
        font-size: 1.2rem;
        position: absolute;
        top: 20px;
        right: calc(12vw - 20px);
        display: flex;
        justify-content: flex-end;
        width: 60px;
        height: 50px;
        display: none;
        cursor: pointer;
        z-index: 3;

        &:hover {
            filter: drop-shadow(0 0 0.75rem crimson);
        }

    }

    .logo {
        position: absolute;
        left: calc(12vw - 40px);

        img {
            width: 80px;
            height: 80px;
        }
    }

    .links {
        font-size: 1.2rem;
        position: absolute;
        top: 50%;
        right: calc(12vw - 40px);
        display: flex;
        justify-content: flex-end;

        .links__link {
            margin-left: 10%;
            
            &:hover {
                color: darksalmon;
            }

            &:active {
                color: darksalmon;
            }
        }
    }

    @media all 
    and (max-width:760px) 
    and (orientation:portrait) {
        .navegacion__icono {
            display:block !important;
        }
        .links {
            display:none !important;
        }
    }

    .links--desplegable {
        display: block !important;
        background-color: chartreuse;
        position: fixed;
        top: 100px;
        left: 50%;
        width: 100vw;
        height: 50%;
        transform: translateX(-50%);
        padding: 10%;
        text-align: center;

        .links__link {
            margin-left: 0;
            margin-top: 5%;
        }
    }

    .cerrar {
        width: 100vw;
        height: 100vh;
        display: none;
    }

    .cerrar--despues {
        background-color: none;
        display: block;
    }
    
    .links--desplegable--despues {
        top: 80px;
    }

}

.navegacion--comprimida {
    height: 80px;
}



