.seccion1 {
    width: 100vw;
    height: 40vh;
    background-color: red;
    top: 80px;
    position: relative;

    .seccion1__contenido {
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

    }
}