.seccion2 {
    background-color: yellowgreen;
    position: relative;
    text-align: center;
    position: relative;
    padding: 10%;

        h1 {
            height: 2.2em;
        }
        
        p {
            left: 50%;
            transform: translateX(-50%);
            position: relative;
        }

        .seccion2__iconos {
            width: 90px;
            height: 90px;
        }
}
    