.contacto {
    width: 100vw;
    height: 70vh;
    background-color: peru;

    .contacto__contenido {
        text-align: center;
        background-color: teal;
        position: relative;
        top: 50%;
        transform: translateY(-42%);
        padding-left: 5%;
        padding-right: 5%;
    }

        .formulario--chico {
            margin-bottom: 22px;
        }
            .formulario--grande {
                padding: 10px;
            }


}